# Data files (Large datasets)
*.parquet
*.csv
*.tsv
*.xlsx

# Models / Binaries
*.ftz
*.bin
*.pkl
*.h5

# Python environment and cache
__pycache__/
*.pyc
.venv/
venv/
env/
.env


# OS specific files
.DS_Store
Thumbs.db

# visuaslization outputs
*.png
*.jpg
*.html

# Custom libraries / external code
lib/